<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="main.html" target="_blank">กลับหน้าแรก</a>
    <form>
        <div>
            <label for="firstname">ชื่อจริง</label>
            <input type="text" placeholder="ชื่อ" name="text_x">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" name="email_x">
        </div>
        <div>
            <label for="text">ข้อความ</label>
            <textarea name="textarea_x" cols="20" rows="5"></textarea>
        </div>
        <div>
            <select name="edu" id="">
                <option value="A" selected>A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>
        <div>
            <button type="submit">บันทึกข้อมูล</button>
        </div>
        <div>
            <button type="reset">ล้างข้อมูล</button>
        </div>
    </form>
</body>
</html>